@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 191, 219, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  min-height: 100vh;
}

@keyframes pulse-glow {
  0%, 100% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
}

